.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.result-container {
  height: 350px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 50px;
  color: var(--pale-blue);
  background: linear-gradient(var(--light-slate-blue) -50%, var(--light-royal-blue) 100%);
  border-radius: 0 0 30px 30px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  opacity: .6;
  margin-top: 0
}

h2 {
  margin-bottom: 5px;
}

.TotalScore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 999px;
  width: 130px;
  height: 130px;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.total-score {
  color: white;
  font-size: 48px;
  font-weight: 800;
}

.max-score {
  opacity: .4;
  font-weight: 700;
}

.recap {
  margin-bottom: 15px;
  opacity: .6;
}

.Summary {
  padding: 20px;
}

h3 {
  margin-top: 0;
}

.score {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

.score-1 {
  background-color: var(--light-red);
}

